---

---

<div
  class="dark text-muted text-sm bg-blue-800 dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="dark:bg-white bg-white/40 dark:text-slate-800 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >NEW</span
  >
  <a href="https://learningsystemsthinking.com" class="text-muted hover:underline dark:text-white font-medium"
    >Learning Systems Thinking is now in print! »</a
  >
</div>
