---
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About Architecting Systems',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About AS"
    image={{
      src: 'https://res.cloudinary.com/dceomfgwj/image/upload/v1722945205/designing-a-system-together.png',
      alt: 'Design a System Together',
    }}
  >
    <Fragment slot="title">
       Welcome to <br />
      <span class="text-accent dark:text-white highlight"> Architecting Systems</span>
    </Fragment>

    <Fragment slot="subtitle">
      Architecting Systems (AS) is an independent publication launched by <a href="https://montalion.com" style="color: #1736f5; text-decoration: underline;">Diana Montalion</a>. Subscribers receive recommended resources and experiences for improving systems thinking and design.
    </Fragment>
  </Hero>

  <!-- Benefits Widget ****************** -->

  <Steps2
    title="Thinking Well, Together"
    subtitle="Architecting Systems integrates the previous newsletter, <i>From Software to Systems</i>, with resources from the <a href='https://systemslibrary.com' style='color: #1736f5; text-decoration: underline;'>Systems Library</a> and <a href='https://mentrix.systems' style='color: #1736f5; text-decoration: underline;''>​SoftwareCrafters Collective</a>. Paid subscribers get new content expanding on Diana's book: <a href='https://learningsystemsthinking.com' style='color: #1736f5; text-decoration: underline;''>Learning Systems Thinking: Essential Non-linear Skills and Practices for Software Professionals.</a><br /><br />Diana is systems architect, writer, speaker and knowledge flow deviser. Join the growing and thriving community of systems thinkers working together to create better information and knowledge systems."
    callToAction={{
      text: 'Subscribe',
      href: '/',
    }}
    items={[
      {
        title: 'Resources Published by Experts',
        description:
          'Links to talks, books, podcasts, and other learning experiences. Published by systems experts in diverse fields.',
          icon: 'resources',
      },
      {
        title: 'Upcoming Events',
        description:
          'Hands-on experiences that encourage systems thinking. (When possible, subscribers get discounts to those events.)',
          icon: 'events',
      },
      {
        title: 'A Digital Ecosystem',
        description:
          'Free access to the <a href="https://systemslibrary.com" style="color: #1736f5; text-decoration: underline;">Systems Library</a>, a growing collection of resources and experts. And <a href="https://mentrix.systems" style="color: #1736f5; text-decoration: underline;">​SoftwareCrafters Collective</a>, a new community of practice, offering workshops, courses, cohorts, and practice groups.',
        icon: 'digital',
      },
    ]}
  />

  <!-- Paid Benefits Widget ****************** -->
  
  <Steps2
    title="Uplevel your experience as a paid subscriber!"
    subtitle="In the modern world, we are facing many systems challenges. Your contribution supports the work of thinking, writing, modeling, teaching, exploring and improving our approaches to systems design. Join the discussion and helping the world become a little wiser."
    isReversed={true}
    callToAction={{
      text: 'Premium Membership',
      href: '/',
    }}
    items={[
      {
        title: 'Go Deeper',
        description: 'An in-depth article, exploring a relevant topic, every week or so.',
        icon: 'tabler:globe',
      },
      {
        title: 'Members-only Access',
        description:
          'Access to the members-only space in SoftwareCrafters Collective, with brown-bag lunch discussions and other events.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Jump the Line',
        description:
          'Early access to events that sell out quickly.Deeper discounts on courses and workshops.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Book Tout -->
  <Hero2
    id='book'
    tagline="New Book"
    actions={[
      { variant: 'primary', target: '_blank', text: "O'Reilly", href: 'https://www.oreilly.com/library/view/learning-systems-thinking/9781098151324/' },
      { text: 'Bookshop', href: 'https://bookshop.org/a/86792/9781098151331' },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dceomfgwj/image/upload/v1723207780/lst-book-cover_xstqq8.jpg',
      alt: 'Learning Systems Thinking Book',
    }}
  >
  <Fragment slot="title">
    Essential <span class="text-accent dark:text-white highlight"
    >Skills and Practices</span> for Software Professionals
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      <span class="font-semibold">Welcome to the systems age, where software professionals are no longer building software—we are building systems of software</span>. In this world of increasing relational complexity, we need to think differently. <br /><br />This book shows you how systems thinking can guide you through the complexity of modern systems. Through a series of practices and real-world scenarios, you will learn to shift your perspective in order to design, develop, and deliver better outcomes.
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-bg dark:bg-transparent"></div>
   </Fragment>
  </Hero2>
  
</Layout>
