---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Hero3 from '~/components/widgets/Hero3.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import BlogUpcomingPosts from '~/components/widgets/BlogUpcomingPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Diana Montalion -- systems thinking and architecture skills for an increasingly complex world',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="DIANA MONTALION"
    actions={[
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/montalion-hero.png', alt: 'Diana Montalion Homepage' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> Systems Skills & Approaches</span><br />For an Increasingly Complex World
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        I help individuals, teams and organizations build impactful software systems. My passion is architecting technology, knowledge flows and learning experiences that generate emergent, effective information systems.
      </span>
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

   <!-- Features2 Widget ************** -->

   <BlogUpcomingPosts
   title="Upcoming Events"
   information={`I keynote at technology events, as well as develop onsite, remote and custom workshops. Here are some upcoming events.`}
   >
   <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
   </Fragment>
  </BlogUpcomingPosts>
 

  <Hero2
    id='book'
    tagline="New Book"
    actions={[
      { variant: 'primary', target: '_blank', text: "O'Reilly", href: 'https://www.oreilly.com/library/view/learning-systems-thinking/9781098151324/' },
      { text: 'Bookshop', href: 'https://bookshop.org/a/86792/9781098151331' },
    ]}
    image={{
      src: '/src/assets/images/lst-book-cover.jpg',
      alt: 'Learning Systems Thinking Book',
    }}
  >
  <Fragment slot="title">
    Essential <span class="text-accent dark:text-white highlight"
    >Skills and Practices</span> for Software Professionals
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      <span class="font-semibold">Welcome to the systems age, where software professionals are no longer building software—we are building systems of software</span>. In this world of increasing relational complexity, we need to think differently. <br /><br />This book shows you how systems thinking can guide you through the complexity of modern systems. Through a series of practices and real-world scenarios, you will learn to shift your perspective in order to design, develop, and deliver better outcomes.
  </Fragment>
</Hero2>

<!-- Features2 Widget ************** -->

<Features2
title="Systems Architecture"
tagline="Professional Experience"
subtitle="As Mentrix founder and a systems architect, I take a systems-thinking approach to software development. Transform the flow and structure of information. Improve relationship patterns, in people and in software. Cultivate critical thinking skills. Build strong teams. Recommend changes that don't just fix -- they transform."
  items={[
    {
      title: 'Design and Deliver an Innovative Platform',
      description: "Build a team, an approach and a software system that changes the way people engage in digital discourse.",
      icon: 'discourse',
    },
    {
      title: 'Modernize a Legacy System',
      description:
        "Iteratively design and develop dataflows and software architectures that transform web pages, assets and machine learning into a knowledge system.",
      icon: 'system',
    },
    {
      title: 'Architect Knowledge',
      description:
        'Transform linear, reductionistic approaches to software delivery and instead, architect knowledge flow that generates a learning organization.',
      icon: 'knowledge',
    },
    {
      title: 'Create a Digital Gateway',
      description:
        "Keep a global consultancy connected to the world with digital experiences that replace in-person exchanges.",
      icon: 'global',
    },
    {
      title: 'Don’t Just Fix - Transform',
      description:
        'Through collaborative modeling, systemic reasoning and synthesizing disparate points of view — launch an initiative that iteratively transforms an aging software system into renewed competative advantage.',
      icon: 'transform2',
    },
    {
      title: 'Cultivate Systems Leadership',
      description: 'Empower strong engineering teams that can leverage their knowledge and create sociotechnical outcomes that transcend expectations.',
      icon: 'leadership',
    },
    {
      title: 'Integrate Data Intelligently',
      description: 'Architect a system that ensures that disparate information is available, to provide the right information, at the right time, to patients needing medical care.',
      icon: 'recommend',
    },
    {
      title: 'Recommend a Systems Strategy',
      description:
        'Recommend an approach to integrating disparate data sources that journalists world-wode depend on for accurate and timely information.',
      icon: 'integrate',
    },
    {
      title: 'Lead a Service-Driven Organization',
      description: "Develop technology teams and architecture approaches that meet the unique needs and goals of clients.",
      icon: 'service',
    },
  ]}
  actions={[
    { variant: "primary", text: 'Contact Mentrix', href: 'https://mentrixgroup.com/how-can-we-help' },
  ]},
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>

<Hero3
    id='newsletter'
    tagline="Subscribe Now!"
    actions={[
      { variant: 'primary', target: '_blank', text: "Subscribe Now", href: "https://architectingsystems.com/" },
    ]}
    image={{
      src: '~/assets/images/dm-ae.jpeg',
      alt: 'Architecting Systems',
    }}
  >
  <Fragment slot="title">
    Design and Deliver <span class="text-accent dark:text-white highlight"
    >Impactful Systems</span>
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      <span class="font-semibold">Architecting Systems is the weekly publication for systems thinkers. Develop the skills you need to succeed in an increasingly-complex world. 
  </Fragment>
</Hero3>

<Features2
title="Learning Experiences"
tagline="Grow Your Skills"
subtitle="I generate a variety of learning experiences that enable and empower essential skills. If you'd like to talk to me about a speaking engagement, workshops or writing for your publication, let's chat."
  items={[
    {
      title: 'Workshops & Courses',
      description: "Hands-on experience with systems design and the mindshift towards systems development.",
      icon: 'discourse',
    },
    {
      title: 'Publications',
      description:
        "My writing practice predates learning to code. I publish books, articles and a weekly newsletter to help people navigate the complex world of systems.",
      icon: 'system',
    },
    {
      title: 'Keynotes and Talks',
      description:
        'My first love (and college major) was theater. I use those skills to bring new perspectives to community-of-practice events',
      icon: 'knowledge',
    },
  ]}
  actions={[
    { variant: "primary", text: 'How Can I Help?', href: 'https://mentrixgroup.com/how-can-we-help' },
  ]},
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>

  
  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'Systems Library',
        href: 'https://systemslibrary.com/',
        target: '_blank',
      },
      {
        variant: 'secondary',
        text: 'SystemCrafters Collective',
        href: 'https://mentrix.systems',
        target: '_blank',
      },
      {
        variant: 'secondary',
        text: 'Videos & Interviews',
        href: 'https://mentrixgroup.com/talk-videos',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">
      More to Explore
    </Fragment>

    <Fragment slot="subtitle">
       Want to dive in, right? Visit these other spaces.
    </Fragment>
  </CallToAction>

    <!-- HighlightedPosts Widget ******* -->

    <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
    </BlogLatestPosts>
</Layout>
